<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Journey</h2>
                    <h3 class="section-subheading text-muted">Our 2019 Senior Project</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2018</h4>
                                    <h4 class="subheading">Our Journey Begin</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We were in the same Intro to VR class and we decided to do something with VR. We wanted to push further on what we had learned. We began researching for a lot of VR project and we
                                    discovered VR projects with haptic feedback such as VR bone surgery with robot arm that provides haptic feedback. We knew right away what we wanted to do.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2019</h4>
                                    <h4 class="subheading">Our first milestone</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After our first semester digging in VR case studies. We finally decided to make a compelling virtual experience. We succeedeed in making our first 3D model and
                                    scaled it to the correct size. We had our first iteration: a chair that can change color whenever user sit down; a freezing terrain with self-made plant. We watched a bunch of tutorial and did several trials
                                    before having a complete working iteration. We were proud of our selves.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Febuary 2019</h4>
                                    <h4 class="subheading">Atlas Expo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We had our project 99% done. We presented at Atlas Expo. The kids in Expo loved it. They loved fighting the dragon. We received a lot of constructive feedback.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2019</h4>
                                    <h4 class="subheading">Finish Project</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We have a fully functional project. Here is our documentation</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
